# Python Review

In [62]:
from IPython.display import Image
from IPython.core.display import HTML 
# Image(filename="test.png")

In [63]:
print("yuh")

yuh

## Comments

In [64]:
# vine boom sound effect

# Ctrl + / for toggling comments on and off
# vine boom
# sound effect

## Numbers

In [65]:
3 + 4

7

In [66]:
3 * 20

60

In [67]:
12 / 4

3.0

In [68]:
8 + 2 * 10

28

In [69]:
(8 + 2) * 10

100

In [70]:
18 / 4

4.5

Division (rounded to whole number)

In [71]:
18 // 4

4

Modulus: Division remainder

In [72]:
18 % 4

2

Exponent:

In [73]:
5 ** 3

125

Variables

In [74]:
tuna = 5
20 + tuna

25

In [75]:
bacon = 18
bacon / tuna

3.6

## Strings

In [76]:
'Priscilla Arinze'
# OR
"Priscilla Arinze"

'Priscilla Arinze'

In [77]:
# 'I don't like cream cheese' --- INVALID
"I don't like cream cheese" #VALID

"I don't like cream cheese"

Use of escape characters:

In [78]:
# "I said, "You wouldn't download a house"" --- INVALID
'I said, "You wouldn\'t download a house' # VALID, Escape character

'I said, "You wouldn\'t download a house'

In [79]:
print("hey now you're a rockstar")

hey now you're a rockstar

Accidental use of escape character (pretty common w/ file paths)

In [80]:
print('C:\Documents\nutella')

C:\Documents
utella

To fix above accidental escape character:

In [81]:
print(r'C:\Documents\nutella')

C:\Documents\nutella

In [82]:
firstName = "Priscilla "
firstName + "Arinze"

'Priscilla Arinze'

In [83]:
firstName + "Dingle"

'Priscilla Dingle'

In [84]:
firstName * 5

'Priscilla Priscilla Priscilla Priscilla Priscilla '

In [85]:
activity = "Insert cash or select payment type"
activity[0]

'I'

In [86]:
activity[5]

't'

Access last character in string:

In [87]:
activity[-1]

'e'

Splicing:

In [88]:
# Does NOT include character for the 2nd index; e.g. only includes index 7, 8, and 9 (does not include 10)
activity[7:10]

'cas'

In [89]:
# Start from beginning until before 2nd index (does not include 2nd index like above)
activity[:10]

'Insert cas'

In [90]:
# Start from index until end of string
activity[10:]

'h or select payment type'

In [91]:
# FUll string
activity[:]

'Insert cash or select payment type'

In [92]:
len(activity)

34

In [93]:
len("activity")

8

## Lists (Arrays)

In [94]:
players = [29, 58, 66, 71, 87]

In [95]:
players[0]

29

In [96]:
players[2] = 68

In [97]:
players

[29, 58, 68, 71, 87]

In [98]:
# TEMPORARY CHANGE
players + [90, 91, 98]

[29, 58, 68, 71, 87, 90, 91, 98]

In [99]:
players

[29, 58, 68, 71, 87]

In [100]:
# PERMANENT CHANGE/OVERRIDE (append() only takes one parameter)
players.append(120)

In [101]:
players

[29, 58, 68, 71, 87, 120]

In [102]:
players[:2]

[29, 58]

In [103]:
players[:2] = [0, 0]

In [104]:
players

[0, 0, 68, 71, 87, 120]

Remove items from list:

In [105]:
players[:2] = []

In [106]:
players

[68, 71, 87, 120]

Clear an entire list of all items:

In [107]:
players[:] = []

In [108]:
players

[]

## If, Elif (Else If), Else

In [109]:
age = 23

if age < 21:
    print("No beer for you!")
else:
    print("Hell yeah, liver damage!")

Hell yeah, liver damage!

In [110]:
name = "Refrigerator"

if name == "Priscilla":
    print("You are not a refrigerator, sorry.")
elif name == "Refrigerator":
    print("Why are you a refrigerator?")
elif name == "Quandale":
    print("Barbeque bacon burger")
else:
    print("Thank you for shopping at Walmart.")

Why are you a refrigerator?

## For Loops

In [111]:
foods = ['cheese', 'tuna', 'rice', 'beef']

for f in foods:
    print(f)
    print(len(f))

cheese
6
tuna
4
rice
4
beef
4

In [112]:
foods = ['cheese', 'tuna', 'rice', 'beef']

for f in foods[:2]:
    print(f)
    print(len(f))

cheese
6
tuna
4

In [113]:
for i in range(10):
    print("I have committed "+str(i+1)+" Geneva Convention violations.")

I have committed 1 Geneva Convention violations.
I have committed 2 Geneva Convention violations.
I have committed 3 Geneva Convention violations.
I have committed 4 Geneva Convention violations.
I have committed 5 Geneva Convention violations.
I have committed 6 Geneva Convention violations.
I have committed 7 Geneva Convention violations.
I have committed 8 Geneva Convention violations.
I have committed 9 Geneva Convention violations.
I have committed 10 Geneva Convention violations.

In [114]:
for i in range(5,12):
    print(i)

5
6
7
8
9
10
11

Third number in range is how much to count by within the first two numbers; e.g. count by 5

In [115]:
for i in range(10, 40, 5):
    print(i)

10
15
20
25
30
35

Finding smallest value

*Hint: store first variable & go based on of that*

In [116]:
smallest = None

print('Begin')

for value in [9, 41, 12, 3, 74, 15]:
    if smallest == None:
        smallest = value
    elif value < smallest:
        smallest = value
    print(value, "-->", smallest)

print('End; Smallest number =', smallest)

Begin
9 --> 9
41 --> 9
12 --> 9
3 --> 3
74 --> 3
15 --> 3
End; Smallest number = 3

### Break statement:

In [117]:
magicNumber = 8

for n in range(101):
    if n is magicNumber:
        print(n, "is the magic number!")
        break # stop loop when condition is true
        print("swag like ohio")
    else:
        print(n)

0
1
2
3
4
5
6
7
8 is the magic number!

In [118]:
# Mini-project: Print numbers divisible by 4 within a range of 0 to 100

for i in range(101):
    if i % 4 == 0:
        print(i)

0
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100

### Continue statement:

In [119]:
numbersTaken = [2, 5, 12, 33, 17]

print("Here are the jersey numbers still available: ")

for n in range(1, 20):
    if n in numbersTaken:
        continue # once condition is true, skip that condition and re-run loop until end
    print("swag like ohio")
    print(n)

Here are the jersey numbers still available:
swag like ohio
1
swag like ohio
3
swag like ohio
4
swag like ohio
6
swag like ohio
7
swag like ohio
8
swag like ohio
9
swag like ohio
10
swag like ohio
11
swag like ohio
13
swag like ohio
14
swag like ohio
15
swag like ohio
16
swag like ohio
18
swag like ohio
19

## While Loops
*make sure to have a logical condition that will eventually be False to avoid infinite loop*

In [120]:
ahhhhhh = 5

while ahhhhhh < 10:
    print(ahhhhhh)
    ahhhhhh += 1

5
6
7
8
9

In [121]:
n = 5

while n > 0:
    print(n)
    n = n-1

print("bank account balance:")
print(n)

5
4
3
2
1
bank account balance:
0

## Type Conversion (Int to String & String to Int)

In [122]:
x = 2

print("I have "+x+" dollars in my bank account.")

TypeError: can only concatenate str (not "int") to str

To fix above TypeError (int to string):

In [123]:
# Option 1:
print("I have", x, "dollars in my bank account.")

# Option 2:
print("I have "+str(x)+" dollars in my bank account.")

I have 2 dollars in my bank account.
I have 2 dollars in my bank account.

In [124]:
taxesEvaded = '450000'
print(taxesEvaded + 2000000)

TypeError: can only concatenate str (not "int") to str

To fix above TypeError (str to int):

In [125]:
print(int(taxesEvaded) + 2000000)

2450000

## Try / Except (Error Catching)

Doesn't show cryptic python errors to users & continues program

In [126]:
ageInput = input("Enter your age: ")

try:
    age = int(ageInput)
except:
    age = -1

if age > 0:
    print("You're old.")
else:
    print("Enter a valid age bozo.")

Enter a valid age bozo.

## Functions

In [127]:
def beefwellington():
    print("Gordon Ramsey moment")

beefwellington()
beefwellington()
beefwellington()

Gordon Ramsey moment
Gordon Ramsey moment
Gordon Ramsey moment

In [128]:
def bitcoin_to_usd(btcValue):
    amount = btcValue * 527
    print(amount)

beefwellington()
bitcoin_to_usd(1.27)
bitcoin_to_usd(1)
bitcoin_to_usd(21)

Gordon Ramsey moment
669.29
527
11067

In [129]:
import random


def randomizedPunishment():
    funPunishmentOptions = [
        'never getting hungry ever again, but required to eat the entire Empire State Building, crumb by crumb',
        'looking great all the time, but being required by law to cosplay in a very ill-fitting giraffe costume every 4.5 hours',
        'living forever, but you are legally obligated to live in Ohio for eternity',
        'having good time management, but you are only allowed to tell the time by completing a complex multivariable calculus problem',
        'having great endurance, but legally required to wear shoes with multiple pebbles in each shoe',
        'being contacted for cool opportunities, but the American Emergency Alarm System (EAS) sound is required to be your ringtone and all notification sounds, on full volume'
    ]

    name = input("Enter your first name: ")

    randNum = random.randint(0, 5)

    print(name+": The Court™ has sentenced you to "+funPunishmentOptions[randNum])


randomizedPunishment()

: The Court™ has sentenced you to having great endurance, but legally required to wear shoes with multiple pebbles in each shoe

In [130]:
randomizedPunishment()

: The Court™ has sentenced you to having good time management, but you are only allowed to tell the time by completing a complex multivariable calculus problem

In [131]:
randomizedPunishment()

: The Court™ has sentenced you to looking great all the time, but being required by law to cosplay in a very ill-fitting giraffe costume every 4.5 hours

In [132]:
beefwellington()

Gordon Ramsey moment

### Default parameter values:

In [133]:
def get_gender(sex='Other'):
    if sex == 'm':
        sex = "Male"
    elif sex == 'f':
        sex = "Female"

    print(sex)

get_gender('m')
get_gender('f')
get_gender()

Male
Female
Other

### Variable Scope

In [134]:
a = 7823 ### Variables outside of function can be used "globally" (across diferent functions) (e.g. a)

def applesauce():
    b = "tax evasion"
    print(a)

def ohio():
    print(a)

applesauce()
ohio()

print(b) ### Variables created inside functions can only be used within that function (e.g. b)

7823
7823

NameError: name 'b' is not defined

### Keyword Arguments

In [ ]:
def dumb_sentence(name='Priscilla', action='transformed into', item='a 2003 honda civic'):
    print(name, action, item)

dumb_sentence()
dumb_sentence('Squidward', 'ate', 'a nuclear bomb')
dumb_sentence(item='Ohio')
dumb_sentence(action='danced on', name="Ted 'Zodiac Killer' Cruz")

### Flexible Number of Arguments

In [135]:
def add_numbers(*args): # 'args' is just a variable, can be named anything, but common practice
    total = 0

    for a in args:
        total += a

    print(total)

add_numbers(3)    
add_numbers(21, 17, 38)
add_numbers(90876, 5, 23, 89483928394, 1)

3
76
89484019299

### Unpacking List of Arguments

In [136]:
def health_calculator(age, apples_ate, cigs_smoked):
    answer = (100-age) + (apples_ate * 3.5) - (cigs_smoked * 2)
    print(answer, "years left to live")


squidwards_data = [73, 4, 230]
priscillas_data = [23, 5, 0]

health_calculator(squidwards_data[0], squidwards_data[1], squidwards_data[2])
health_calculator(*squidwards_data) # unpacking list (regardless of list size)
health_calculator(*priscillas_data) # npacking list (regardless of list size)

-419.0 years left to live
-419.0 years left to live
94.5 years left to live

## Sets

Considerations:
1. No duplicate items are allowed in sets
2. Items in sets are not in any order
3. Items within set must be immutable (e.g. strings, numbers, etc); they cannot be lists or dictionaries

In [137]:
animals = set()

print(animals)

animals.add("dolphin")

print(animals)

list_of_animals = ['cat', 'turtle', 'divorce papers', 'frog']

animals.update(list_of_animals)

print(animals)

set()
{'dolphin'}
{'divorce papers', 'cat', 'turtle', 'dolphin', 'frog'}

In [138]:
groceries = {'cereal', 'milk', 'peanut butter', 'muffins', 'milk', 'cookies'}

print(groceries)

if 'milk' in groceries:
    print("stop buying milk")
else:
    print("buy milk so it can waste away in the fridge")

{'cereal', 'milk', 'peanut butter', 'muffins', 'cookies'}
stop buying milk

## Dictionaries

In [139]:
us_states = {
    "California": "2.5 sqft house going for $3,500 a month (limited time offer!)",
    "Texas": "oil, yeehaw, what more can I say",
    "Ohio": "no comment",
    "Florida": "Breaking News: Florida Man and local neighborhood aligator team up to rob a UPS store"
}

print(us_states)
print(us_states["California"])

{'California': '2.5 sqft house going for $3,500 a month (limited time offer!)', 'Texas': 'oil, yeehaw, what more can I say', 'Ohio': 'no comment', 'Florida': 'Breaking News: Florida Man and local neighborhood aligator team up to rob a UPS store'}
2.5 sqft house going for $3,500 a month (limited time offer!)

In [140]:
#loop through dictionary

for key, value in us_states.items():
    print(key, '-', value)

California - 2.5 sqft house going for $3,500 a month (limited time offer!)
Texas - oil, yeehaw, what more can I say
Ohio - no comment
Florida - Breaking News: Florida Man and local neighborhood aligator team up to rob a UPS store

## Modules

In [154]:
import taxes # created another file called "taxes.py" 

taxes.amount_owed()

You owe a small sum of 7 trillion dollars in taxes.

In [155]:
import random

num = random.randrange(1, 1000)

print(num)

33

## Strings

In [143]:
text = "getting into crippling debt is my favorite activity"

print(text[5])
print(text[5:])

n
ng into crippling debt is my favorite activity

In [144]:
favorite_food = "ohio"

index = 0

while index < len(favorite_food):
    letter = favorite_food[index]
    print(letter)
    index += 1

o
h
i
o

In [145]:
for letter in favorite_food:
    print(letter)

o
h
i
o

In [146]:
## Booleans

vegetable = "tomato"

'o' in vegetable

True

In [147]:
'z' in vegetable

False

### String Methods

Change string to uppercase or lowercase:

In [148]:
greeting = 'Thank you for shopping at Walmart'

print(greeting.lower())
print(greeting.upper())

thank you for shopping at walmart
THANK YOU FOR SHOPPING AT WALMART

Find subtring in string:

In [149]:
# NOTE: case sensitive

substr = greeting.find('Wal')
substr2 = greeting.find('ohio')

print(substr)
print(substr2)

26
-1

Search & replace:

In [150]:
newstr = greeting.replace('Wal', 'Ball')
newstr2 = greeting.replace('o', 'u')

print(newstr)
print(newstr2)

Thank you for shopping at Ballmart
Thank yuu fur shupping at Walmart

Stripping whitespace:

In [151]:
greeting2 = '       Thank you for shopping at Walmart      '

greet_left = greeting2.lstrip()
greet_right = greeting2.rstrip()
greet_both = greeting2.strip()

print(greet_left)
print(greet_right)
print(greet_both)

Thank you for shopping at Walmart
       Thank you for shopping at Walmart
Thank you for shopping at Walmart

Prefixes (boolean):

In [152]:
print(greeting.startswith("Thank"))
print(greeting.startswith("cincinnati"))

True
False

Parsing & extracting:

In [153]:
#need to extract the email domain from the string below

data = 'From hunter123@walmart.gov Sent Friday December 2nd 01:11:42 1898'

at_sign_pos = data.find('@') # stores index of at (@) symbol
print(at_sign_pos) # 14

# NOTE: find() has the following parameters: value (required), starting index (optional), ending index (optional)
space_pos = data.find(' ', at_sign_pos) # find 1st space, starting from the at sign
print(space_pos) #26

email_domain = data[at_sign_pos+1 : space_pos]
print(email_domain)

14
26
walmart.gov

## Reading Files

## Download an Image from the Web