# Strings

In [8]:
'Priscilla Arinze'
# OR
"Priscilla Arinze"

'Priscilla Arinze'

In [9]:
# 'I don't like cream cheese' --- INVALID
"I don't like cream cheese" #VALID

"I don't like cream cheese"

### Use of escape characters:

In [10]:
print('They adamantly refused to go to Arby's with me. :(')

SyntaxError: invalid syntax (612516375.py, line 1)

In [13]:
# 'They adamantly refused to go to Arby's with me. :(' --- INVALID (because of the extra single quotes)

## Option 1 (great if there is multiple single quotes)
'They adamantly refused to go to Arby\'s with me. :(' # VALID, Escape character (\)

"They adamantly refused to go to Arby's with me. :("

In [14]:
## Option 2 (great if you only really have one single quote (or vice versa for double quotes) in single)
"They adamantly refused to go to Arby's with me. :(" # VALID, Double quotes surrounded by single quote in string

"They adamantly refused to go to Arby's with me. :("

In [15]:
print("i am a blueberry")

i am a blueberry

### Accidental use of escape character (pretty common w/ file paths)

In [16]:
print('C:\Documents\nutella')

C:\Documents
utella

### To fix above accidental escape character:

In [17]:
print(r'C:\Documents\nutella')

C:\Documents\nutella

In [18]:
firstName = "Priscilla "
firstName + "Arinze"

'Priscilla Arinze'

In [19]:
firstName + "Ifeomachukwu"

'Priscilla Ifeomachukwu'

In [20]:
firstName * 5

'Priscilla Priscilla Priscilla Priscilla Priscilla '

In [21]:
activity = "Insert cash or select payment type"
activity[0]

'I'

In [22]:
activity[5]

't'

### Access last character in string:

In [23]:
activity[-1]

'e'

### Splicing:

In [24]:
# Does NOT include character for the 2nd index; e.g. only includes index 7, 8, and 9 (does not include 10)
activity[7:10]

'cas'

In [25]:
# Start from beginning until before 2nd index (does not include 2nd index like above)
activity[:10]

'Insert cas'

In [26]:
# Start from index until end of string
activity[10:]

'h or select payment type'

In [27]:
# FUll string
activity[:]

'Insert cash or select payment type'

In [28]:
len(activity)

34

In [29]:
len("activity")

8

In [30]:
text = "getting into crippling debt is my favorite activity"

print(text[5])
print(text[5:])

n
ng into crippling debt is my favorite activity

### Using Loops

In [31]:
favorite_food = "ohio"

index = 0

while index < len(favorite_food):
    letter = favorite_food[index]
    print(letter)
    index += 1

o
h
i
o

In [32]:
for letter in favorite_food:
    print(letter)

o
h
i
o

In [33]:
## Booleans

vegetable = "tomato"

'o' in vegetable

True

In [34]:
'z' in vegetable

False

### String Methods

Change string to uppercase or lowercase:

In [35]:
greeting = 'Thank you for shopping at Walmart'

print(greeting.lower())
print(greeting.upper())

thank you for shopping at walmart
THANK YOU FOR SHOPPING AT WALMART

Find subtring in string:

In [36]:
# NOTE: case sensitive

substr = greeting.find('Wal')
substr2 = greeting.find('ohio')

print(substr)
print(substr2)

26
-1

Search & replace:

In [37]:
newstr = greeting.replace('Wal', 'Ball')
newstr2 = greeting.replace('o', 'u')

print(newstr)
print(newstr2)

Thank you for shopping at Ballmart
Thank yuu fur shupping at Walmart

Spliting string:

In [1]:
abc = 'mercury venus earth mars'
planet = abc.split()
print(planet)
print(len(planet))
print(planet[0])

['mercury', 'venus', 'earth', 'mars']
4
mercury

In [2]:
for x in planet:
    print(x)

mercury
venus
earth
mars

In [3]:
# Without any parameters, split() sees multiple spaces as one delimeter
hamburger = 'beep boop                 beep boop    beep'

burger = hamburger.split()
print(burger)

['beep', 'boop', 'beep', 'boop', 'beep']

Stripping whitespace:

In [38]:
greeting2 = '       Thank you for shopping at Walmart      '

greet_left = greeting2.lstrip()
greet_right = greeting2.rstrip()
greet_both = greeting2.strip()

print(greet_left)
print(greet_right)
print(greet_both)

Thank you for shopping at Walmart
       Thank you for shopping at Walmart
Thank you for shopping at Walmart

Prefixes (boolean):

In [39]:
print(greeting.startswith("Thank"))
print(greeting.startswith("cincinnati"))

True
False

Parsing & extracting:

In [40]:
#need to extract the email domain from the string below

data = 'From hunter123@walmart.gov Sent Friday December 2nd 01:11:42 1898'

at_sign_pos = data.find('@') # stores index of at (@) symbol
print(at_sign_pos) # 14

# NOTE: find() has the following parameters: value (required), starting index (optional), ending index (optional)
space_pos = data.find(' ', at_sign_pos) # find 1st space, starting from the at sign
print(space_pos) #26

email_domain = data[at_sign_pos+1 : space_pos]
print(email_domain)

14
26
walmart.gov

### String formatting

Comma separated concatenation (automatically adds a space):

In [1]:
food = 'bread'

print("I like", food)

I like bread

Plus sign (+) concatenation (doesn't automatically add a space like above):

In [5]:
activity = "tax evasion"

print("Uh something something" + activity)
print("Uh something something " + activity)

Uh something somethingtax evasion
Uh something something tax evasion

Curly braces with 'f' right before the string:

In [4]:
income = 0.25

print(f"I'm pretty well off, I make ${income} every two weeks")

I'm pretty well off, I make $0.25 every two weeks

In [6]:
accountbalance = 27.21
taxesowed = 9861.52

print(f"I have plenty of money, my account balance is {accountbalance - taxesowed}")

I have plenty of money, my account balance is -9834.310000000001

"%s" for string placeholder, "%d" for number placeholder:

In [9]:
name = "Squidward"
num = 233

print("Hi, my name is %s" % name)
print("Hi, my name is %s and I have been indicted on %d counts of perjury in a court of law" % (name, num))

Hi, my name is Squidward
Hi, my name is Squidward and I have been indicted on 233 counts of perjury in a court of law

Formatting by number of decimal points with ".#f"

In [18]:
price = 768.31456

print("If I recall correctly, the price of bread is", "${:.2f}".format(price))

### OR

print("If I recall correctly, the price of bread is", f"${price:.2f}")

If I recall correctly, the price of bread is $768.31
If I recall correctly, the price of bread is $768.31