# Cleaning Data with Pandas

In [72]:
import pandas as pd
import numpy as np
import datetime as dt
import os

In [73]:
datasets_cwd = f"{os.getcwd()}\\datasets"

*Dataset: Bicycle Ride Sharing Data In San Francisco*

In [74]:
df = pd.read_csv(f"{datasets_cwd}\\ride_sharing_san_fran.csv")
df.drop(columns=["Unnamed: 0"], inplace=True) # remove duplicate index column
df

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male
1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male
2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male
3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male
4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male
...,...,...,...,...,...,...,...,...,...
25755,11 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5063,1,2000,Male
25756,10 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,2,1998,Male
25757,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,2,1995,Male
25758,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),4438,2,1995,Male
25759,29 minutes,16,Steuart St at Market St,115,Jackson Playground,1705,3,1990,Male

## Fixing Data Type Inconsistencies

### Change user_type column from numerical to categorial data type

The user_type column contains information on whether a user is taking a free ride and takes on the following values:

`1` for free riders.

`2` for pay per ride.

`3` for monthly subscribers.

In [75]:
df["user_type"].describe()

count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64

In [76]:
df["user_type"] = df["user_type"].astype("category")

In [77]:
df["user_type"].describe()

count     25760
unique        3
top           2
freq      12972
Name: user_type, dtype: int64

### Removing extraneous strings from numerical columns

In [78]:
df["duration"]

0        12 minutes
1        24 minutes
2         8 minutes
3         4 minutes
4        11 minutes
            ...
25755    11 minutes
25756    10 minutes
25757    14 minutes
25758    14 minutes
25759    29 minutes
Name: duration, Length: 25760, dtype: object

In [79]:
duration_col_index = df.columns.get_loc("duration")

numerical_duration_values = df["duration"].str.strip("minutes")

# insert new duration column
df.insert(duration_col_index+1, "duration_time", numerical_duration_values)

df["duration_time"] = df["duration_time"].astype("int")

df

,duration,duration_time,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
0,12 minutes,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male
1,24 minutes,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male
2,8 minutes,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male
3,4 minutes,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male
4,11 minutes,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male
...,...,...,...,...,...,...,...,...,...,...
25755,11 minutes,11,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5063,1,2000,Male
25756,10 minutes,10,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,2,1998,Male
25757,14 minutes,14,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,2,1995,Male
25758,14 minutes,14,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),4438,2,1995,Male
25759,29 minutes,29,16,Steuart St at Market St,115,Jackson Playground,1705,3,1990,Male

In [80]:
df[["duration", "duration_time"]]

         duration  duration_time
0      12 minutes             12
1      24 minutes             24
2       8 minutes              8
3       4 minutes              4
4      11 minutes             11
...           ...            ...
25755  11 minutes             11
25756  10 minutes             10
25757  14 minutes             14
25758  14 minutes             14
25759  29 minutes             29

[25760 rows x 2 columns]

In [81]:
df["duration_time"].mean()

11.389052795031056

## Size/Outlier Constraints

*Set max size of `tire_sizes` to 27*

In [82]:
df2 = pd.read_csv(f"{datasets_cwd}\\ride_sharing_san_fran_tire_sizes.csv")
df2.drop(columns=["Unnamed: 0"], inplace=True) # remove duplicate index column
df2

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_sizes
0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,Subscriber,1959,Male,27.0
1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,Subscriber,1965,Male,26.0
2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,Subscriber,1993,Male,26.0
3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,Subscriber,1979,Male,29.0
4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,Subscriber,1994,Male,27.0
...,...,...,...,...,...,...,...,...,...,...
25755,11 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5063,Subscriber,2000,Male,29.0
25756,10 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,Subscriber,1998,Male,26.0
25757,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,Customer,1995,Male,29.0
25758,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),4438,Customer,1995,Male,26.0
25759,29 minutes,16,Steuart St at Market St,115,Jackson Playground,1705,Customer,1990,Male,27.0

In [83]:
# temporarily convert to int
df2["tire_sizes"] = df2["tire_sizes"].astype("int")
print(f"OLD MAX TIRE SIZE: {df2['tire_sizes'].max()}")

# set all values above 27 to 27
df2.loc[df2["tire_sizes"] > 27, "tire_sizes"] = 27
print(f"NEW MAX TIRE SIZE: {df2['tire_sizes'].max()}")

# temporai
df2["tire_sizes"] = df2["tire_sizes"].astype("category")


print(df2["tire_sizes"])

OLD MAX TIRE SIZE: 29
NEW MAX TIRE SIZE: 27
0        27
1        26
2        26
3        27
4        27
         ..
25755    27
25756    26
25757    27
25758    26
25759    27
Name: tire_sizes, Length: 25760, dtype: category
Categories (2, int64): [26, 27]

## Date Range Constraints

*Change the future `ride_date` dates to today's date*

In [84]:
df3 = pd.read_csv(f"{datasets_cwd}\\ride_sharing_san_fran_ride_dates.csv")
df3.drop(columns=["Unnamed: 0"], inplace=True) # remove duplicate index column
df3

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_sizes,ride_date
0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,Subscriber,1959,Male,27.0,2020-01-19
1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,Subscriber,1965,Male,26.0,2018-10-24
2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,Subscriber,1993,Male,26.0,2017-12-25
3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,Subscriber,1979,Male,29.0,2025-08-14
4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,Subscriber,1994,Male,27.0,2019-01-29
...,...,...,...,...,...,...,...,...,...,...,...
25755,11 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5063,Subscriber,2000,Male,29.0,2017-10-25
25756,10 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,Subscriber,1998,Male,26.0,2019-04-05
25757,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,Customer,1995,Male,29.0,2018-11-29
25758,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),4438,Customer,1995,Male,26.0,2017-08-09
25759,29 minutes,16,Steuart St at Market St,115,Jackson Playground,1705,Customer,1990,Male,27.0,2019-10-30

In [85]:
df3["ride_date"] = pd.to_datetime(df3["ride_date"]).dt.date
df3.loc[df3["ride_date"] > dt.date.today(), "ride_date"]

3        2025-08-14
18       2025-08-14
23       2025-08-14
25       2025-08-14
29       2025-08-14
            ...
25734    2025-08-14
25741    2025-08-14
25745    2025-08-14
25746    2025-08-14
25753    2025-08-14
Name: ride_date, Length: 5534, dtype: object

In [86]:
# convert new ride_date column to datetime type
df3["ride_dt"] = pd.to_datetime(df3["ride_date"]).dt.date
print(f"OLD MAX RIDE DATE: {df3['ride_dt'].max()}")

# today's date
today = dt.date.today()

# set future ride dates to today's date
df3.loc[df3["ride_dt"] > today, "ride_dt"] = today
print(f"NEW MAX RIDE DATE: {df3['ride_dt'].max()}")

print(df3["ride_dt"])

OLD MAX RIDE DATE: 2025-08-14
NEW MAX RIDE DATE: 2024-08-22
0        2020-01-19
1        2018-10-24
2        2017-12-25
3        2024-08-22
4        2019-01-29
            ...
25755    2017-10-25
25756    2019-04-05
25757    2018-11-29
25758    2017-08-09
25759    2019-10-30
Name: ride_dt, Length: 25760, dtype: object

## Dealing with Duplicate Records

In [87]:
df4 = pd.read_csv(f"{datasets_cwd}\\ride_sharing_san_fran_duplicates.csv")
df4.drop(columns=["Unnamed: 0"], inplace=True) # remove duplicate index column
df4

,ride_id,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_sizes,ride_date
0,0,11,16,Steuart St at Market St,93,4th St at Mission Bay Blvd S,5504,Subscriber,1988,Male,27,2018-03-04
1,1,8,3,Powell St BART Station (Market St at 4th St),93,4th St at Mission Bay Blvd S,2915,Subscriber,1988,Male,27,2017-03-27
2,2,11,15,San Francisco Ferry Building (Harry Bridges Pl...,67,San Francisco Caltrain Station 2 (Townsend St...,5340,Customer,1988,Male,26,2019-06-30
3,3,7,21,Montgomery St BART Station (Market St at 2nd St),50,2nd St at Townsend St,746,Subscriber,1969,Male,27,2018-11-16
4,4,11,81,Berry St at 4th St,21,Montgomery St BART Station (Market St at 2nd St),5477,Subscriber,1986,Male,26,2017-11-01
...,...,...,...,...,...,...,...,...,...,...,...,...
73,99,15,30,San Francisco Caltrain (Townsend St at 4th St),14,Clay St at Battery St,1194,Subscriber,1968,Male,27,2018-11-11
74,71,11,3,Powell St BART Station (Market St at 4th St),44,Civic Center/UN Plaza BART Station (Market St ...,4805,Customer,1997,Male,27,2018-02-03
75,71,11,3,Powell St BART Station (Market St at 4th St),44,Civic Center/UN Plaza BART Station (Market St ...,4805,Customer,1997,Male,27,2018-02-03
76,89,9,15,San Francisco Ferry Building (Harry Bridges Pl...,81,Berry St at 4th St,5552,Subscriber,1986,Male,26,2018-09-09
77,89,9,15,San Francisco Ferry Building (Harry Bridges Pl...,81,Berry St at 4th St,5552,Subscriber,2060,Male,26,2018-09-09

### `pd.DataFrame.duplicated()`: returns duplicated rows in DataFrame
* Parameters:
    * `subset`: a list of columns that will be used to determine the duplicate rows
    * `keep`: 
        * `first` -- marks everything EXCEPT the FIRST occurrence of a duplicate row as `True`
            * e.g. row A, row B, and row C are duplicates, only rows B & C will be marked as `True`
        * `last` -- marks everything EXCEPT the LAST occurrence of a duplicate row as `True`
            * e.g. row A, row B, and row C are duplicates, only rows A & B will be marked as `True`
        * `False` -- marks all duplicate rows, INCLUDING the first occurrence, as `True`
            * e.g. row A, row B, and row C are duplicates, all rows will be marked as `True`

In [88]:
duplicates = df4.duplicated(subset=["ride_id"], keep=False)
print(duplicates)

0     False
1     False
2     False
3     False
4     False
      ...
73    False
74     True
75     True
76     True
77     True
Length: 78, dtype: bool

In [89]:
# sort rows by ride_id
duplicate_rows = df4[duplicates].sort_values(by="ride_id")

duplicate_rows

,ride_id,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_sizes,ride_date
22,33,10,30,San Francisco Caltrain (Townsend St at 4th St),59,S Van Ness Ave at Market St,5022,Subscriber,1979,Male,27,2019-07-06
39,33,2,30,San Francisco Caltrain (Townsend St at 4th St),59,S Van Ness Ave at Market St,5022,Subscriber,1979,Male,27,2019-07-06
53,55,9,3,Powell St BART Station (Market St at 4th St),115,Jackson Playground,4343,Subscriber,1985,Male,27,2017-08-12
65,55,9,3,Powell St BART Station (Market St at 4th St),115,Jackson Playground,4343,Subscriber,1985,Male,27,2017-08-12
74,71,11,3,Powell St BART Station (Market St at 4th St),44,Civic Center/UN Plaza BART Station (Market St ...,4805,Customer,1997,Male,27,2018-02-03
75,71,11,3,Powell St BART Station (Market St at 4th St),44,Civic Center/UN Plaza BART Station (Market St ...,4805,Customer,1997,Male,27,2018-02-03
76,89,9,15,San Francisco Ferry Building (Harry Bridges Pl...,81,Berry St at 4th St,5552,Subscriber,1986,Male,26,2018-09-09
77,89,9,15,San Francisco Ferry Building (Harry Bridges Pl...,81,Berry St at 4th St,5552,Subscriber,2060,Male,26,2018-09-09

In [90]:
duplicate_rows[["ride_id", "duration", "user_birth_year"]]

    ride_id  duration  user_birth_year
22       33        10             1979
39       33         2             1979
53       55         9             1985
65       55         9             1985
74       71        11             1997
75       71        11             1997
76       89         9             1986
77       89         9             2060

*Remove duplicate rows and merge incomplete duplicate rows by taking average duration*

### `pd.DataFrame.drop_duplicates()`: drops duplicate rows
* same parameters as `.duplicated()`, but for `keep`:
    * `first` (DEFAULT): Drop duplicates except for the first occurrence.
    * `last`: Drop duplicates except for the last occurrence.
    * `False`: Drop all duplicates.

*If no args given to `.drop_duplicates()`, duplicate rows will be determined by every column (complete duplicates) and only the first occurrence of the duplicate row will be kept, subsequent duplicate rows will be dropped*

In [91]:
complete_duplicates = df4.duplicated(keep=False)

df4[complete_duplicates]

,ride_id,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_sizes,ride_date
53,55,9,3,Powell St BART Station (Market St at 4th St),115,Jackson Playground,4343,Subscriber,1985,Male,27,2017-08-12
65,55,9,3,Powell St BART Station (Market St at 4th St),115,Jackson Playground,4343,Subscriber,1985,Male,27,2017-08-12
74,71,11,3,Powell St BART Station (Market St at 4th St),44,Civic Center/UN Plaza BART Station (Market St ...,4805,Customer,1997,Male,27,2018-02-03
75,71,11,3,Powell St BART Station (Market St at 4th St),44,Civic Center/UN Plaza BART Station (Market St ...,4805,Customer,1997,Male,27,2018-02-03

In [92]:
ride_dup = df4.drop_duplicates()

duplicate_rows = df4[duplicates].sort_values(by="ride_id")

incomplete_dup_ride_ids = list(duplicate_rows["ride_id"].unique())

duplicate_rows

,ride_id,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_sizes,ride_date
22,33,10,30,San Francisco Caltrain (Townsend St at 4th St),59,S Van Ness Ave at Market St,5022,Subscriber,1979,Male,27,2019-07-06
39,33,2,30,San Francisco Caltrain (Townsend St at 4th St),59,S Van Ness Ave at Market St,5022,Subscriber,1979,Male,27,2019-07-06
53,55,9,3,Powell St BART Station (Market St at 4th St),115,Jackson Playground,4343,Subscriber,1985,Male,27,2017-08-12
65,55,9,3,Powell St BART Station (Market St at 4th St),115,Jackson Playground,4343,Subscriber,1985,Male,27,2017-08-12
74,71,11,3,Powell St BART Station (Market St at 4th St),44,Civic Center/UN Plaza BART Station (Market St ...,4805,Customer,1997,Male,27,2018-02-03
75,71,11,3,Powell St BART Station (Market St at 4th St),44,Civic Center/UN Plaza BART Station (Market St ...,4805,Customer,1997,Male,27,2018-02-03
76,89,9,15,San Francisco Ferry Building (Harry Bridges Pl...,81,Berry St at 4th St,5552,Subscriber,1986,Male,26,2018-09-09
77,89,9,15,San Francisco Ferry Building (Harry Bridges Pl...,81,Berry St at 4th St,5552,Subscriber,2060,Male,26,2018-09-09

### `.groupby()` [(Docs)](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)
* if only a single arg is passed, this should be the column name

### `.agg()` [(Docs)](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html)
* a dictionary of column names to aggregations methods can be passed in to do aggregations on the specified columns
* e.g. `{"column1": ["mean", "min"], "column2": "max"}`

In [93]:
aggregations = {
    "user_birth_year": "min",
    "duration": "mean"
}

# group by ride_id and perform specified aggregations
ride_unique = ride_dup.groupby("ride_id").agg(aggregations).reset_index()

ride_unique

    ride_id  user_birth_year  duration
0         0             1988      11.0
1         1             1988       8.0
2         2             1988      11.0
3         3             1969       7.0
4         4             1986      11.0
..      ...              ...       ...
69       94             1993      25.0
70       95             1959      11.0
71       96             1991       7.0
72       98             1989      21.0
73       99             1968      15.0

[74 rows x 3 columns]

*New (averaged) durations by ride_id*

In [94]:
ride_unique.loc[ride_unique["ride_id"].isin(incomplete_dup_ride_ids)]

    ride_id  user_birth_year  duration
22       33             1979       6.0
39       55             1985       9.0
53       71             1997      11.0
65       89             1986       9.0

*Check to make sure there are no more duplicates*

In [95]:
duplicates = ride_unique.duplicated(subset="ride_id", keep=False)

print(ride_unique[duplicates])

Empty DataFrame
Columns: [ride_id, user_birth_year, duration]
Index: []

## Categorical Inconsistencies

In [96]:
airlines_df = pd.read_csv(f"{datasets_cwd}\\airlines_san_fran.csv")
airlines_df

,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,1351,Tuesday,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,2018-12-31,115.0,Clean,Neutral,Very satisfied
1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,2018-12-31,135.0,Clean,Very safe,Very satisfied
2,2820,Thursday,DELTA,LOS ANGELES,West US,Hub,Gates 40-48,2018-12-31,70.0,Average,Somewhat safe,Neutral
3,1157,Tuesday,SOUTHWEST,LOS ANGELES,West US,Hub,Gates 20-39,2018-12-31,190.0,Clean,Very safe,Somewhat satisfied
4,2992,Wednesday,AMERICAN,MIAMI,East US,Hub,Gates 50-59,2018-12-31,559.0,Unacceptable,Very safe,Somewhat satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...
2472,1475,Tuesday,ALASKA,NEW YORK-JFK,East US,Hub,Gates 50-59,2018-12-31,280.0,Somewhat clean,Neutral,Somewhat satisfied
2473,2222,Thursday,SOUTHWEST,PHOENIX,West US,Hub,Gates 20-39,2018-12-31,165.0,Clean,Very safe,Very satisfied
2474,2684,Friday,UNITED,ORLANDO,East US,Hub,Gates 70-90,2018-12-31,92.0,Clean,Very safe,Very satisfied
2475,2549,Tuesday,JETBLUE,LONG BEACH,West US,Small,Gates 1-12,2018-12-31,95.0,Clean,Somewhat safe,Very satisfied
2476,2162,Saturday,CHINA EASTERN,QINGDAO,Asia,Large,Gates 1-12,2018-12-31,220.0,Clean,Very safe,Somewhat satisfied

In [97]:
airlines_survey_categories_df = pd.read_csv(f"{datasets_cwd}\\airlines_survey_categories.csv")
airlines_survey_categories_df

      cleanliness           safety          satisfaction
0           Clean          Neutral        Very satisfied
1         Average        Very safe               Neutral
2  Somewhat clean    Somewhat safe    Somewhat satisfied
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4           Dirty  Somewhat unsafe      Very unsatisfied

### Fix inconsistency with `cleanliness` column

In [98]:
unique_cleanliness_scores = airlines_df['cleanliness'].unique()
print(f"Unique cleanliness categories in DataFrame: {unique_cleanliness_scores}")

inconsistent_cleanliness_score = airlines_df["cleanliness"].loc[~airlines_df["cleanliness"].isin(airlines_survey_categories_df["cleanliness"])].unique()
print(f"Inconsistent score: {inconsistent_cleanliness_score}")

Unique cleanliness categories in DataFrame: ['Clean' 'Average' 'Unacceptable' 'Somewhat clean' 'Somewhat dirty'
 'Dirty']
Inconsistent score: ['Unacceptable']

In [99]:
inconsistent_cleanliness_score = set(airlines_df["cleanliness"]).difference(airlines_survey_categories_df["cleanliness"])
print(inconsistent_cleanliness_score)

{'Unacceptable'}

In [100]:
inconsistent_cleanliness_rows = airlines_df["cleanliness"].isin(inconsistent_cleanliness_score)

airlines_df[inconsistent_cleanliness_rows]

,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
4,2992,Wednesday,AMERICAN,MIAMI,East US,Hub,Gates 50-59,2018-12-31,559.0,Unacceptable,Very safe,Somewhat satisfied
17,2913,Friday,TURKISH AIRLINES,ISTANBUL,Middle East,Hub,Gates 91-102,2018-12-31,225.0,Unacceptable,Very safe,Somewhat satisfied
89,2321,Wednesday,SOUTHWEST,LOS ANGELES,West US,Hub,Gates 20-39,2018-12-31,130.0,Unacceptable,Somewhat safe,Somewhat satisfied

*Show rows with only consistent cleanliness scores (using `~`)*

In [101]:
airlines_df[~inconsistent_cleanliness_rows]

,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,1351,Tuesday,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,2018-12-31,115.0,Clean,Neutral,Very satisfied
1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,2018-12-31,135.0,Clean,Very safe,Very satisfied
2,2820,Thursday,DELTA,LOS ANGELES,West US,Hub,Gates 40-48,2018-12-31,70.0,Average,Somewhat safe,Neutral
3,1157,Tuesday,SOUTHWEST,LOS ANGELES,West US,Hub,Gates 20-39,2018-12-31,190.0,Clean,Very safe,Somewhat satisfied
5,634,Thursday,ALASKA,NEWARK,East US,Hub,Gates 50-59,2018-12-31,140.0,Somewhat clean,Very safe,Very satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...
2472,1475,Tuesday,ALASKA,NEW YORK-JFK,East US,Hub,Gates 50-59,2018-12-31,280.0,Somewhat clean,Neutral,Somewhat satisfied
2473,2222,Thursday,SOUTHWEST,PHOENIX,West US,Hub,Gates 20-39,2018-12-31,165.0,Clean,Very safe,Very satisfied
2474,2684,Friday,UNITED,ORLANDO,East US,Hub,Gates 70-90,2018-12-31,92.0,Clean,Very safe,Very satisfied
2475,2549,Tuesday,JETBLUE,LONG BEACH,West US,Small,Gates 1-12,2018-12-31,95.0,Clean,Somewhat safe,Very satisfied
2476,2162,Saturday,CHINA EASTERN,QINGDAO,Asia,Large,Gates 1-12,2018-12-31,220.0,Clean,Very safe,Somewhat satisfied

## Value Inconsistencies

e.g. `"married"`, `"    married"`, `"Maried"`, `"MARRIED"`, `"recently married"`

In [102]:
airlines_inconsistencies_df = pd.read_csv(f"{datasets_cwd}\\airlines_san_fran_inconsistencies.csv")
airlines_inconsistencies_df

,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,1351,Tuesday,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,2018-12-31,115.0,Clean,Neutral,Very satisfied
1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,2018-12-31,135.0,Clean,Very safe,Very satisfied
2,2820,Thursday,DELTA,LOS ANGELES,West US,Hub,Gates 40-48,2018-12-31,70.0,Average,Somewhat safe,Neutral
3,1157,Tuesday,SOUTHWEST,LOS ANGELES,West US,Hub,Gates 20-39,2018-12-31,190.0,Clean,Very safe,Somewhat satsified
4,2992,Wednesday,AMERICAN,MIAMI,East US,Hub,Gates 50-59,2018-12-31,559.0,Somewhat clean,Very safe,Somewhat satsified
...,...,...,...,...,...,...,...,...,...,...,...,...
2472,1475,Tuesday,ALASKA,NEW YORK-JFK,East US,Hub,Gates 50-59,2018-12-31,280.0,Somewhat clean,Neutral,Somewhat satsified
2473,2222,Thursday,SOUTHWEST,PHOENIX,West US,Hub,Gates 20-39,2018-12-31,165.0,Clean,Very safe,Very satisfied
2474,2684,Friday,UNITED,ORLANDO,East US,Hub,Gates 70-90,2018-12-31,92.0,Clean,Very safe,Very satisfied
2475,2549,Tuesday,JETBLUE,LONG BEACH,West US,Small,Gates 1-12,2018-12-31,95.0,Clean,Somewhat safe,Very satisfied
2476,2162,Saturday,CHINA EASTERN,QINGDAO,Asia,Large,Gates 1-12,2018-12-31,220.0,Clean,Very safe,Somewhat satsified

In [103]:
print(airlines_inconsistencies_df["dest_region"].unique())
print()
print(airlines_inconsistencies_df["dest_size"].unique())

['Asia' 'Canada/Mexico' 'West US' 'East US' 'Midwest US' 'EAST US'
 'Middle East' 'Europe' 'eur' 'Central/South America'
 'Australia/New Zealand' 'middle east']

['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']

In [104]:
# set dest_region to all lowercase
airlines_inconsistencies_df["dest_region"] = airlines_inconsistencies_df["dest_region"].str.lower()

# replace "eur" with "europe"
airlines_inconsistencies_df["dest_region"] = airlines_inconsistencies_df["dest_region"].replace({"eur": "europe"})


print(airlines_inconsistencies_df["dest_region"].unique())

['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']

In [105]:
# strip trailing whitespaces in dest_size
airlines_inconsistencies_df["dest_size"] = airlines_inconsistencies_df["dest_size"].str.strip()

print(airlines_inconsistencies_df["dest_size"].unique())

['Hub' 'Small' 'Medium' 'Large']

## Extremely Large Category Groups

e.g. household income categories being divided to just "poor" and "rich" vs income brackets

<i>
create two new categorical variables:

* `wait_type`: `'short'` for 0-60 min, `'medium'` for 60-180 and long for 180+
* `day_week`: `'weekday'` if day is in the weekday, `'weekend'` if day is in the weekend.
</i>

In [107]:
airlines_remap_categories_df = pd.read_csv(f"{datasets_cwd}\\airlines_san_fran_remap_categories.csv")
airlines_remap_categories_df

,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,1351,Tuesday,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,2018-12-31,115.0,Clean,Neutral,Very satisfied
1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,2018-12-31,135.0,Clean,Very safe,Very satisfied
2,2820,Thursday,DELTA,LOS ANGELES,West US,Hub,Gates 40-48,2018-12-31,70.0,Average,Somewhat safe,Neutral
3,1157,Tuesday,SOUTHWEST,LOS ANGELES,West US,Hub,Gates 20-39,2018-12-31,190.0,Clean,Very safe,Somewhat satsified
4,2992,Wednesday,AMERICAN,MIAMI,East US,Hub,Gates 50-59,2018-12-31,559.0,Somewhat clean,Very safe,Somewhat satsified
...,...,...,...,...,...,...,...,...,...,...,...,...
2472,1475,Tuesday,ALASKA,NEW YORK-JFK,East US,Hub,Gates 50-59,2018-12-31,280.0,Somewhat clean,Neutral,Somewhat satsified
2473,2222,Thursday,SOUTHWEST,PHOENIX,West US,Hub,Gates 20-39,2018-12-31,165.0,Clean,Very safe,Very satisfied
2474,2684,Friday,UNITED,ORLANDO,East US,Hub,Gates 70-90,2018-12-31,92.0,Clean,Very safe,Very satisfied
2475,2549,Tuesday,JETBLUE,LONG BEACH,West US,Small,Gates 1-12,2018-12-31,95.0,Clean,Somewhat safe,Very satisfied
2476,2162,Saturday,CHINA EASTERN,QINGDAO,Asia,Large,Gates 1-12,2018-12-31,220.0,Clean,Very safe,Somewhat satsified

*separating categories into bins using `pd.cut()`*

In [108]:
label_ranges = [0, 60, 180, np.inf]
label_names = ["short", "medium", "long"]

airlines_remap_categories_df["wait_type"] = pd.cut(
    airlines_remap_categories_df["wait_min"],
    bins=label_ranges,
    labels=label_names
)

airlines_remap_categories_df[["wait_min", "wait_type"]]

      wait_min wait_type
0        115.0    medium
1        135.0    medium
2         70.0    medium
3        190.0      long
4        559.0      long
...        ...       ...
2472     280.0      long
2473     165.0    medium
2474      92.0    medium
2475      95.0    medium
2476     220.0      long

[2477 rows x 2 columns]

*combining categories with `.replace()`*

In [109]:
day_mappings = {
    "Monday":"weekday", 
    "Tuesday":"weekday", 
    "Wednesday": "weekday", 
    "Thursday": "weekday", 
    "Friday": "weekday", 
    "Saturday": "weekend", 
    "Sunday": "weekend"
}

airlines_remap_categories_df["day_week"] = airlines_remap_categories_df["day"].replace(day_mappings)

airlines_remap_categories_df[["day", "day_week"]]

            day day_week
0       Tuesday  weekday
1        Friday  weekday
2      Thursday  weekday
3       Tuesday  weekday
4     Wednesday  weekday
...         ...      ...
2472    Tuesday  weekday
2473   Thursday  weekday
2474     Friday  weekday
2475    Tuesday  weekday
2476   Saturday  weekend

[2477 rows x 2 columns]

## Combine Category Groups

e.g. various specific Android and iOS model phones into "Android" and "iOS"