### Imports

In [1]:
import sqlite3
import pandas as pd
import os

### Constants & Initializations

In [2]:
DB_NAME = "STAFF.db"
DB_TABLE_NAME = "INSTRUCTOR"
FILE_PATH = f"{os.getcwd()}\\INSTRUCTOR.csv"

attribute_list = ["ID", "FirstName", "LastName", "City", "Country"]
df = pd.read_csv(FILE_PATH, names=attribute_list) # names --> column names

### Establish SQLite Database Connection

In [3]:
conn = sqlite3.connect(DB_NAME)

### Load DataFrame to SQLite Table

In [4]:
try:
    df.to_sql(DB_TABLE_NAME, conn, if_exists="replace", index=False)
    print(f"Table '{DB_TABLE_NAME}' loaded successfully")
except:
    print(f"Error creating/loading table '{DB_TABLE_NAME}'.")

Table 'INSTRUCTOR' loaded successfully

### Querying Database

In [5]:
def print_query(query, output):
    print(f"QUERY EXECUTED: {query}")
    print(f"OUTPUT:\n{output}")

In [6]:
query_select_all = f"SELECT * FROM {DB_TABLE_NAME}"
query_output_select_all = pd.read_sql(query_select_all, conn)

print_query(query_select_all, query_output_select_all)

QUERY EXECUTED: SELECT * FROM INSTRUCTOR
OUTPUT:
    ID FirstName   LastName      City Country
0    1       Rav      Ahuja   TORONTO      CA
1    2      Raul      Chong   Markham      CA
2    3      Hima  Vasudevan   Chicago      US
3    4      John     Thomas  Illinois      US
4    5     Alice      James  Illinois      US
5    6     Steve      Wells  Illinois      US
6    7   Santosh      Kumar  Illinois      US
7    8     Ahmed    Hussain  Illinois      US
8    9     Nancy      Allen  Illinois      US
9   10      Mary     Thomas  Illinois      US
10  11   Bharath      Gupta  Illinois      US
11  12    Andrea      Jones  Illinois      US
12  13       Ann      Jacob  Illinois      US
13  14      Amit      Kumar  NewDelhi      IN

In [7]:
query_select_firstnames = f"SELECT FirstName FROM {DB_TABLE_NAME}"
query_output_firstnames = pd.read_sql(query_select_firstnames, conn)

print_query(query_select_firstnames, query_output_firstnames)

QUERY EXECUTED: SELECT FirstName FROM INSTRUCTOR
OUTPUT:
   FirstName
0        Rav
1       Raul
2       Hima
3       John
4      Alice
5      Steve
6    Santosh
7      Ahmed
8      Nancy
9       Mary
10   Bharath
11    Andrea
12       Ann
13      Amit

In [8]:
query_select_countall = f"SELECT COUNT(*) FROM {DB_TABLE_NAME}"
query_output_countall = pd.read_sql(query_select_countall, conn)

print_query(query_select_countall, query_output_countall)

QUERY EXECUTED: SELECT COUNT(*) FROM INSTRUCTOR
OUTPUT:
   COUNT(*)
0        14

### Add Records to Database

In [9]:
data_dict = {
    "ID": [123], 
    "FirstName": ["Priscilla"],
    "LastName": ["Arinze"],
    "City": ["Dallas"],
    "Country": ["USA"]
}

data_to_add = pd.DataFrame(data_dict)

In [10]:
try:
    data_to_add.to_sql(DB_TABLE_NAME, conn, if_exists="append", index=False)
    print(f"Appended data successfully to table '{DB_TABLE_NAME}'.")
except:
    print(f"Error appending data to table '{DB_TABLE_NAME}'.")

Appended data successfully to table 'INSTRUCTOR'.

In [11]:
query_select_all = f"SELECT * FROM {DB_TABLE_NAME}"
query_output_select_all = pd.read_sql(query_select_all, conn)

print_query(query_select_all, query_output_select_all)

QUERY EXECUTED: SELECT * FROM INSTRUCTOR
OUTPUT:
     ID  FirstName   LastName      City Country
0     1        Rav      Ahuja   TORONTO      CA
1     2       Raul      Chong   Markham      CA
2     3       Hima  Vasudevan   Chicago      US
3     4       John     Thomas  Illinois      US
4     5      Alice      James  Illinois      US
5     6      Steve      Wells  Illinois      US
6     7    Santosh      Kumar  Illinois      US
7     8      Ahmed    Hussain  Illinois      US
8     9      Nancy      Allen  Illinois      US
9    10       Mary     Thomas  Illinois      US
10   11    Bharath      Gupta  Illinois      US
11   12     Andrea      Jones  Illinois      US
12   13        Ann      Jacob  Illinois      US
13   14       Amit      Kumar  NewDelhi      IN
14  123  Priscilla     Arinze    Dallas     USA

### Close Database Connection

In [12]:
conn.close()

<hr>

### Practice: 'STAFF' Table

<i>

1. In the same database `STAFF`, create another table called `Departments`. The attributes of the table are as shown below.

    | Header | Description |
    | ------ | ----------- |
    | DEPT_ID | Department ID |
    | DEP_NAME | Department Name |
    | MANAGER_ID | Manager ID |
    | LOC_ID | Location ID |

<br>

2. Populate the `Departments` table with the data available in the CSV file which can be downloaded from the link below using `wget`:  

    `https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-PY0221EN-Coursera/labs/v2/Departments.csv`

<br>

3. Append the `Departments` table with the following information.

    | Attribute | Value |
    | --------- | ----- |
    | DEPT_ID | 9 |
    | DEP_NAME | Quality Assurance |
    | MANAGER_ID | 30010 |
    | LOC_ID | L0010 |

<br>

4. Run the following queries on the `Departments` Table:
    
    a. View all entries

    b. View only the department names
    
    c. Count the total entries
    
</i>

### 1 & 2

In [13]:
DB_TABLE_NAME2 = "Departments"
FILE_PATH2 = f"{os.getcwd()}\\Departments.csv"
attribute_list2 = ["DEPT_ID", "DEP_NAME", "MANAGER_ID", "LOC_ID"]


df2 = pd.read_csv(FILE_PATH2, names=attribute_list2)

In [14]:
conn2 = sqlite3.connect(DB_NAME)

df2.to_sql(DB_TABLE_NAME2, conn2, if_exists="replace", index=False)

3

### 3

In [15]:
data_dict2 = {
    "DEPT_ID": [9],
    "DEP_NAME": ["Quality Assurance"],
    "MANAGER_ID": [30010],
    "LOC_ID": ["L0010"]
}

data_to_add2 = pd.DataFrame(data_dict2, index=[0])

data_to_add2.to_sql(DB_TABLE_NAME2, conn2, if_exists="append", index=False)

1

### 4

In [16]:
### a
query_select_all2 = f"SELECT * FROM {DB_TABLE_NAME2}"
query_output_select_all2 = pd.read_sql(query_select_all2, conn2)

print_query(query_select_all2, query_output_select_all2)

QUERY EXECUTED: SELECT * FROM Departments
OUTPUT:
   DEPT_ID           DEP_NAME  MANAGER_ID LOC_ID
0        2    Architect Group       30001  L0001
1        5     Software Group       30002  L0002
2        7        Design Team       30003  L0003
3        9  Quality Assurance       30010  L0010

In [17]:
### b
query_select_dept_names = f"SELECT DEP_NAME FROM {DB_TABLE_NAME2}"
query_output_select_dept_names = pd.read_sql(query_select_dept_names, conn2)

print_query(query_select_dept_names, query_output_select_dept_names)

QUERY EXECUTED: SELECT DEP_NAME FROM Departments
OUTPUT:
            DEP_NAME
0    Architect Group
1     Software Group
2        Design Team
3  Quality Assurance

In [18]:
### c
query_select_count_depts = f"SELECT COUNT(DISTINCT DEP_NAME) FROM {DB_TABLE_NAME2}"
query_output_select_count_depts = pd.read_sql(query_select_count_depts, conn2)

print_query(query_select_count_depts, query_output_select_count_depts)

QUERY EXECUTED: SELECT DISTINCT COUNT(DEP_NAME) FROM Departments
OUTPUT:
   COUNT(DEP_NAME)
0                4

*Testing DISTINCT department names query*

In [19]:
data_dict3 = {
    "DEPT_ID": [10],
    "DEP_NAME": ["Quality Assurance"],
    "MANAGER_ID": [30011],
    "LOC_ID": ["L0011"]
}

data_to_add3 = pd.DataFrame(data_dict3, index=[0])
data_to_add3.to_sql(DB_TABLE_NAME2, conn2, if_exists="append", index=False)

query_select_all3 = f"SELECT * FROM {DB_TABLE_NAME2}"
query_output_select_all3 = pd.read_sql(query_select_all2, conn2)

print_query(query_select_all3, query_output_select_all3)

QUERY EXECUTED: SELECT * FROM Departments
OUTPUT:
   DEPT_ID           DEP_NAME  MANAGER_ID LOC_ID
0        2    Architect Group       30001  L0001
1        5     Software Group       30002  L0002
2        7        Design Team       30003  L0003
3        9  Quality Assurance       30010  L0010
4       10  Quality Assurance       30011  L0011

In [21]:
### c
query_select_count_depts2 = f"SELECT COUNT(DISTINCT DEP_NAME) FROM {DB_TABLE_NAME2}"
query_output_select_count_depts2 = pd.read_sql(query_select_count_depts2, conn2)

print_query(query_select_count_depts2, query_output_select_count_depts2)

QUERY EXECUTED: SELECT COUNT(DISTINCT DEP_NAME) FROM Departments
OUTPUT:
   COUNT(DISTINCT DEP_NAME)
0                         4